<mat-card>
    <mat-form-field>
        <input style="width:350px" matInput placeholder="First Name">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input style="width:350px" matInput placeholder="Last Name">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input style="width:350px" type="email" matInput placeholder="Email">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input style="width:350px" type="password" matInput placeholder="Password">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input style="width:350px" type="password" matInput placeholder="Confirm Password">
    </mat-form-field>
</mat-card>
